body {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.menu {
    width: 20%;
    height: 100vh;
    background-color: white;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #a6a6a6;
}

.logo{
    width: 20%;
    height: auto;
    box-align: top,left;
    margin-left: 20px;
}

.link{
    background-color: #3f3f3f;
    color: white;
    border: 100% #3f3f3f;
    text-align: left;
    border-bottom: 5px solid black;
}

.ajuda{
    background-color: #595959;
    color: white;
    border: 100% #595959;
    text-align: left;
}

.conteudo {
    margin-left: 20%;
    padding: 5px;
    zoom: 140%;
    position: fixed;
}

.dica{
    color: #42c08c;
}

.texto{
    font-size: 11px;
    line-height: 80%;
}

.d2{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 0;
    font-size: 15px;
}

.barra{
    display: flex;
    height: 2px;
    width: 50%;
    background: linear-gradient(to right,  #c0de97 52%, #a6a6a6 35%);
    margin-bottom: 5px;
}

.box1{
    width: 900px;
    height: auto;
    border: 2px solid #a6a6a6;
    border-radius: 10px;
    margin-bottom: 5px;
}

.box2{
    width: 900px;
    height: auto;
    border: 2px solid #a6a6a6;
    border-radius: 10px;
    float: left;
    margin-right: 0;
}

.mg{
    margin-left: 30px;
    zoom: 110%;
}

.mg2{
    margin-top: 10px;
    margin-left: 30px;
    zoom: 125%;
}

.sitcont{
    margin-left: 903px;
    padding: 0px;
    box-sizing: border-box;
    float: flex;
    align-items: center;
    justify-content: center;
}

.sit{
    width: 400px ;
    height: 50px;
    background-color: #ffc000;
    text-align: center;
    color: white;
    border-color: #333;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    line-height: 50px;
    font-size: 25px;
}

/*
.apv{
    width: 400px;
    height: 200px;
    background-color: #ffc000;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    line-height: 255px;
    font-size: 25px;
}
 */

 .rep{
    width: 400px ;
    height: 255px;
    background-color: #c0504d;
    text-align: center;
    color: white;
    border-color: #333;
    align-items: center;
    justify-content: center;
    line-height: 255px;
    font-size: 25px;
}